<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <footer th:fragment="common_head">
        <div style="width:100%;height:50px;background-color: bisque;z-index: 999;">
        ....(此处为顶部公共部分代码，省略五百行)
            <div style="display: inline-block;">
            <input type="button" value="登陆">
            <input type="button" value="注册">
            <input type="button" value="注销">
            </div>
        </div>
    </footer>
</head>
</html>