<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>pdf上传Demo</title>
</head>
<body style="height: 98%;">
<div id="head" th:include="common/com_head :: common_head"></div>
<h1>  读取选中的Excel信息 </h1>
<h1>  推荐使用UC、谷歌浏览器</h1>
<form method="POST" enctype="multipart/form-data" action="/read/exceldo">
    <p>文件1：<input type="file" name="file" /></p>
    <p><input type="submit" value="读取" /></p>
</form>
</body>
</html>